.Btn {
    background-color: #1068BF;
    color: #fff;
    border: 1px solid #1068BF;
    padding: 15px 20px;
    width: fit-content;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}