html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    font-weight: 700;
}