.Line {
    display: flex;
    height: 100%;
    gap: 20px;
    align-items: center;
}

.Line.between {
    justify-content: space-between;
}

.Line.rows {
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.Line.rows > .Line {
    height: auto;
}