.Grid {
    display: grid;
    height: 100%;
}

.Grid > * {
    padding: 0px 20px;
}

/* rows */
.Grid.rows {
    grid-template-rows: 60px 1fr 30px;
}

.Grid.rows > :nth-child(1) {
    background-color: green;
}

.Grid.rows > :nth-child(2) {
    justify-self: center;
}

.Grid.rows > :nth-child(3) {
    background-color: #333;
    color: #fff;
}


/* columns */
.Grid.columns {
    grid-template-columns: 120px 1fr;
}

.Grid.columns > :nth-child(1) {
    background-color: #e1e1e1;
}


/* innerGrid */
.Grid.innerGrid {
     grid-template-rows: 60px 1fr;
}

.Grid.innerGrid > :nth-child(1) {
    background-color: #e1e1e1;
}