.Dropdown {
    position: relative;
}

.Dropdown .head {
    border: 1px solid #e1e1e1;
    padding: 0 20px;
    background-color: #dcdcdc;
}

.Dropdown .head:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Dropdown .head:active {
    opacity: 0.9;
}

.Dropdown .list {
    border: 1px solid #e1e1e1;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    height: 150px;
    background-color: #fff;
}

.Dropdown .list > div {
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
}

.Dropdown .list > div.selected {
    background-color: #8888ff;
    color: #fff;
}

.Dropdown .list > div:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.Dropdown .list > div:active {
    background-color: #d1d1d1;
}


.Dropdown .icon-wrap {
    transition: .3s transform;
    transform: rotate(0deg);
}

.Dropdown.open .icon-wrap {
    transform: rotate(180deg);
}